#diana {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 1350px;
    height: 50px;
    background: rgb(255, 88, 227);
}

#content {
    padding: 20px;
    margin: 75px auto;
    width: 600px;
    text-align: justify;
    font: 16px Arial;
    border: 2px solid blue;
}