/*1*/
/*Размер шрифта будет 30px так как вторая запись переопределит первую*/
/*
h2 {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}*/

/*2*/
/*Цвет будет красный,так как вторая запись переопределит первую, размер 20px и шрифт-italic  */

h2 {
    font-size: 20px;
    color: blue;
}

h2 {
    font-style: italic;
    color: red;
}